@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #0d0c17;
    --background: #e4e3f2;
    --primary: #282262;
    --secondary: #827adc;
    --accent: #2e23af;
  }
  .dark {
    --text: #e8e7f2;
    --background: #0d0c1b;
    --primary: #a29ddd;
    --secondary: #2b2383;
    --accent: #5c50dc;
  }
}
