@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --text: #0d0c17;
    --background: #e4e3f2;
    --primary: #282262;
    --secondary: #827adc;
    --accent: #2e23af;
  }
  .dark {
    --text: #e8e7f2;
    --background: #0d0c1b;
    --primary: #a29ddd;
    --secondary: #2b2383;
    --accent: #5c50dc;
  }
} */

body {
  overflow-x: hidden;
}

body {
  @apply gradient;
}

.gradient {
  @apply bg-gradient-to-tr from-background to-accent;
}

.margin {
  @apply mx-8 sm:mx-20;
}

.bg-hero {
  @apply w-screen relative left-[50%] right-[50%] ml-[-50vw] mr-[-50vw]  bg-center bg-black  bg-[url(https://images.unsplash.com/photo-1522252234503-e356532cafd5?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)];
}
